html,body {
	width: 100%;
	height: 100vh;
	margin: 0px 0px 0px 0px;
}

header h2, h3 {
	margin-bottom: 4px;
	margin-top: 4px;
}


h1 {
	font-size: 1.25em;
	margin: 10px 0px 0px 0px;
}

h2 {
	font-size: 1.15em;
}

input[type="button"] {
	height: 2em;
	width: auto;
	font-weight: bold;
	border-radius: 4px;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
	cursor: pointer;
}

center:hover{
	cursor: context-menu;
}

.title:hover {
	cursor: pointer;
}

.icon:hover {
	cursor: pointer;
}

.year:hover {
	cursor: context-menu;
}

.rating:hover {
	cursor: context-menu;
}

#matches-header:hover {
	cursor: context-menu;
}

#search {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
}

#search #matches #loading {
    /* display is set by JavaScript between block and none */
	width: 100%;
    background-color: "white";
    cursor: "progress";
}

#search div {
	background-color: rgb(230, 230, 230);
}

#search #filters_box {
	grid-column-start: 1;

	display: grid;
	grid-template-columns: 10fr 1fr;
	grid-template-rows: auto auto;
	align-content: start;
}

#search #filters_box #filters {
	grid-column-start: 1;
	grid-row-start: 1;
}

#search #filters_box #hide_filters {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: span 3;

	width: 2em;
}

#search #filters_box #hide_filters p {
	font-size: 300%;
	color: rgba(200, 200, 200, 1);
	position: fixed;
	top: 50%;
}

#search #year_filters div {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}

#search #rating_filters div {
	display: grid;
	grid-template-columns: 1em 4em auto 1em;
	grid-gap: 10px;
}

#search fieldset {
	border: 0px;
}

#search legend {
	font-weight: bold;
}

#search input[name=title] {
	width: 99%;
}

#search fieldset div input[type="radio"] {
	grid-column-start: 1;
}

#search fieldset div label {
	grid-column-start: 2;
}

#search fieldset div input[type="number"], input[type="range"] {
	grid-column-start: 3;
	margin: 0px 0px 0px 0px;
}

#search fieldset div .range_value {
	grid-column-start: 4;
	margin: 0px 0px 0px 0px;
}

#search #buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

#search #buttons input {
	width: 30%;
	height: 2em;
}

#search #matches {
	grid-column-start: 2;
	padding-right: 0px;
	padding-left: 10px;
	height: 91vh;
}

#search #matches-header {
	display: grid;
    width: calc(100% - 31px);
	grid-template-columns: 1.5fr 5fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
    overflow: none;
}

#search #matches-header #title {
	grid-column-start: 2;
}

#search #matches #no_matches {
    display: none;
}

#search #matches ul {
    /* display is set by JavaScript between block and none */
	height: 86%;
	overflow: scroll;
	padding-left: 0px;
    padding-right: 1em;
}   

#search #matches li {
	display: grid;
	grid-template-columns: 1.5fr 5fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: 5px 0px 5px 0px;
}

#search #matches li .year, #search #matches li .rating {
	color: grey;
}

#search ul li img {
	width: 92px;
}

#search ul li h3, #search ul li p, #search ul li a {
	margin: auto 0px auto 0px;
}

#search input[type="button"], input[type="reset"], #search a {
	border: 1px solid blue;
	background-color: rgb(200, 200, 200);
	border-radius: 4px;
	font-weight: bold;
    text-align: center;
    height: 2em; /* set the height of <a> elements */
}

#search #matches ul li a {
    line-height: 2em; /* Vertically center the "View" text in the <a> buttons */
}

#no_matches
{
    margin-left: 40%;
    margin-top: 25%;
    font-size: 300%;
}

@media (max-width: 800px) {
	#details {
		grid-template-columns: auto;
	}
	#details input[name="close"] {
		grid-column-start: 1;
	}
}
