.box {
    display: flex;
    border: #666666 solid 1px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    height: 40vh;
    flex-direction: column;
    background-color: var(--maincolor);
    box-shadow: 5px 5px grey;
    padding: 10px;
    width: 40vh;
}

#success {
    display: none;
}

#failure {
    display: none;
}
