.box {
    display: flex;
    border: #666666 solid 1px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40vh;
}

#success {
    display: none;
}

#failure {
    display: none;
}
