#signupContent {
    /* background-color: var(--maincolor); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: red; */
}

#signupForm {
    background-color: var(--maincolor);
    box-shadow: 5px 5px grey;
    padding: 10px;
}

.form-list {
    /* display: flex; */
    list-style-type: none;
    padding: 0;
}

.form-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.submit-btn{
    display: flex;
    justify-content: center;
}

label {
    padding-right: 10px;
}

#failure {
    display: none;
}

#success {
    display: none;
}
